.header
  z-index: 1
  position: absolute
  top: 0
  left: 0
  width: 100%
  // background: #FFF
  +tr(.3s linear)

  &__container
    position: relative
    padding-top: 12px
    display: flex
    // justify-content: space-between
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    +mq($large)
      padding-top: 15px
      padding-bottom: 13px

  &__slogan
    position: relative
    margin-bottom: 20px
    margin-right: auto
    margin-left: auto
    padding-right: 50px
    padding-left: 50px
    max-width: 410px
    color: #FFF
    flex-grow: 1
    text-align: center
    font-family: $a
    +font-size(25px)
    font-weight: 700
    line-height: 1.4
    text-shadow: rgb(0, 0, 0 / 50%) -1px -1px 0px, rgb(0, 0, 0 / 50%) -1px 1px 0px, rgb(0, 0, 0 / 50%) 1px 1px 0px, rgb(0, 0, 0 / 50%) 1px -1px 0px
    +mq($small)
      +font-size(53px)
    +mq($medium)
      max-width: 940px
      padding-right: 30px
      padding-left: 30px



    &:after,
    &:before
      content: ''
      position: absolute
      top: 100%
      left: 0
      width: 100%
      height: 5px

    &:before
      background-color: #ffcbaa

    &:after
      top: calc(100% + 5px)
      height: 10px
      background: linear-gradient(-45deg, transparent 10px, #ffcbaa 0) 0 10px, linear-gradient(45deg,  transparent 10px, #ffcbaa 0) 0 10px
      // background-color: #ffcbaa
      background-position: 50%
      background-repeat: repeat-x
      background-size: 10px 10px

  &__w
    position: absolute
    z-index: 1
    top: 0
    right: 0
    left: 0

    width: 100%
    display: flex
    flex-wrap: wrap
    +mq($large)
      position: relative
      left: -100px
    //   padding-bottom: 13px

    +mq($large)
      margin-left: auto
      padding-top: 0
      padding-bottom: 0
      // width: auto
      flex-grow: 1
      justify-content: space-between
      // max-width: 1000px
      // max-width: 85.5%

  &__nav
    margin-left: auto
    width: 100%

    +mq($medium)
      // margin-top: 2px
      margin-right: 0
      // max-width: 820px
      // max-width: 82%


.header_nav-open
  .header__container
    position: static